/report/
/venv
main.py
/test_study
/test_data/apk/*.apk
/test_data/app/*.ipa
/.pytest_cache
/__pycache__
*.mdb
*.ldb
*.sln
*.com
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.via
*.tmp
*.err
*.log
*.iml
/.idea
